<section class="dashboard-card">
  <a href="/api/posts/{{id}}">
    <section id="dashoard-post-header">
        <p id="dashboard-title">{{title}}</p>
        <p id="dashboard-username">{{date_created}}</p>
    </section>
    <section id="new-sec">
        <button class="btn btn-primary" type="submit" id="new-post-btn" >+ New Post</button>
    </section>
  </a>
</section>