<section class="dashboard-card">
  <a href="/api/posts/{{id}}">
    <section id="dashoard-post">
        <p id="dashboard-title">{{title}}</p>
        <p id="dashboard-username">{{date_created}}</p>
    </section>
  </a>
</section>