<section class="add-post-container">
    <section class="add-post-card">
        <form class="form add-post-form ">
            <h3 id="add-post-header">New Post</h3>
            <label for="add-post-title" id="add-post-title-label">Title: </label><br>
            <input type="text" id="add-post-title" name="add-post-title" ><br>
            <label for="add-post-content" id="add-post-content-label">Content: </label><br>
            <textarea id="add-post-content" name="add-post-content" cols="150" rows="5"></textarea><br><br>
            <button class="btn btn-primary" type="submit" id="add-post-btn">Add Post</button>
        </form> 
    </section>
</section>
<script src="/js/add-post.js"></script>