<section class="container ">
    <section class="dashboard-post">
        {{#each posts as |post|}}
        {{> dashboard-detail}}
        {{/each}}
        <section id="new-post-block">
            <a href="/api/users/new-post">
                <button class="btn btn-primary" type="submit" id="new-post-btn" >+ New Post</button>
            </a>
        </section>
    </section>
</section>