<section class="container">
    <section class="login-card">
        <form class="form login-form ">
            {{#if login}}
                <h3 id="login-header">Login</h3>
            {{/if}}
            {{#unless login}}
                <h3 id="login-header">Sign Up</h3>
            {{/unless}}
            <label for="username" id="username-label">Username: </label><br>
            <input type="text" id="username" name="username" ><br>
            <label for="password" id="password-label">Password: </label><br>
            <input type="text" id="password" name="password"><br><br>
            {{#if login}}
                <button class="btn btn-primary" type="submit" id="login-btn" data-login="login">Login</button>
                {{!-- <input type="submit" value="Login" id="login-btn" data-login="login"> --}}
                <a href="/api/users/signup" id="login-anchor">Sign Up Instead</p>   
            {{/if}}
            {{#unless login}}
            <button class="btn btn-primary" type="submit" id="login-btn" data-login="sign-up">Sign Up</button>
                {{!-- <input type="submit" value="Sign Up" id="login-btn" data-login="sign-up"> --}}
                <a href="/api/users/login" id="login-anchor">Login Instead</p> 
            {{/unless}}
        </form> 
    </section>
</section>
<script src="./js/login.js"></script>
